body,html {
    size: 210mm, 297mm;
    margin: 16mm 4mm;
}

hr {
    margin: 2px;
}

h2 {
    margin-top: 2px;
}

p {
    margin-bottom: 2px;
    text-align: justify;
}

a {
    color: black;
    text-decoration: none;
}

.side {
    background-color: #dfdfdf;
}

.side-bar {
    margin-bottom: 2px;
    text-align: left;
}

.img-thumbnail {
 border-style: none;
 background-color: transparent;
}
